<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> <%=title%> </title>

    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/offcanvas.css" rel="stylesheet">

  </head>

  <body class="bg-light">
    <% include ./comm/header.ejs %>
    <main role="main" class="container">
      <div class="starter-template">
        <!-- Card Section-->
        <div class="row text-left">
            <%
             for(var i=0; i<rows.length; i++) {
             %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h4 class="card-title"><%=__(rows[i].week)%></h4>
                  <p class="card-text"><%=rows[i].work_time%></p>
                </div>
              </div>
            </div>
            <%}%>
            
      
          </div>
          <!-- /.row -->
      
        </div>
        <!-- Card Section-->
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lib/jquery/dist/jquery.slim.min.js" ></script>
    <script src="/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/bootstrap/assets/js/vendor/holder.min.js"></script>
    <script src="/javascripts/offcanvas.js"></script>
    
  </body>
</html>
